@import 'variables';

.about-certs-block {
  padding: 1.5em;
}

.about-certs-container {
  display: flex;

  @media screen and (max-width: 991px) {
    overflow-x: auto;
  }
}

.cert-item {
  position: relative;
  background: linear-gradient(rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0.5)) left top/100% 1px no-repeat;
  padding-right: 2em;
  padding-top: 1em;

  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    color: rgba(226, 226, 226, 0.5);
    background: rgb(226, 226, 226) content-box;
    padding: 4px;
    border: 1px solid rgba(226, 226, 226, 0.5);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -6px;
    top: -8px;
  }
}

.cert-dates {
  color: #999;
  font-size: var(--standard-subheading);
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.cert-image {
  margin-top: 2em;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.cert-name {
  line-height: 1;
  min-height: 75px;
}

.cert-obtained-skills {
  display: flex;
}

.obtained-skills-title {
  margin: 0;
}

.obtained-skill-item {
  margin-top: 0;
  color: #999;
  font-size: var(--standard-subheading);
  font-weight: 400;
  line-height: 1;
}
