<div class="about-certs-block">
  <h2 i18n class="about-cell-name-two">Certifications</h2>
  <div class="about-certs-container">
    <div class="cert-item" *ngFor="let cert of certs">
      <p class="cert-dates">{{ dayjs(cert.obtainingDate).format('MMM D, YYYY') }}</p>
      <img
        class="cert-image"
        [src]="certsPicsStaticStorageLink + cert.certPicture"
        [alt]="cert.certName"
      >
      <h2 class="cert-name">{{ cert.certName }}</h2>
      <p class="cert-dates">
        {{ dayjs(cert.obtainingDate).format('MM/D/YYYY') }} - {{ dayjs(cert.expirationDate).format('MM/D/YYYY') }}
      </p>
      <p>{{ cert.certDescription }}</p>

      <p class="obtained-skills-title">Obtained skills:</p>
      <div class="cert-obtained-skills">
        <p class="obtained-skill-item" *ngFor="let obtainedSkill of cert.obtainedSkills; let i = index">
          {{ obtainedSkill }}<span *ngIf="i !== cert.obtainedSkills.length - 1">,</span>&nbsp;
        </p>
      </div>

      <basic-button
        [label]="'Download the certificate'"
        (buttonClick)="downloadCert(cert.certDoc)"
      />
    </div>
  </div>
</div>
