<layout-default [showHeaderBurger]="false">
  <div class="hero-section">
    <div class="blog-post-header-wrapper">
      <div class="category-holder">
        <a [href]="article.categoryLink" class="blog-category-link">{{ article.category }}</a>
      </div>
      <div class="heading-holder">
        <h1 class="blog-article-heading">{{ article.title }}</h1>
      </div>
      <div class="additional-info-holder">
        <h3 class="blog-additional-info">{{ dayjs(article.date).format('MMMM D, YYYY') }}</h3>
      </div>
    </div>
  </div>

  <div class="main-image-section">
    <div class="image-wrapper">
      <img
        class="image-cover"
        [src]="article.image"
        [alt]="article.title"
      >
    </div>
  </div>

  <div class="blog-article-section">
    <div class="rich-text-block" [innerHTML]="article.content"></div>
  </div>
</layout-default>
