<layout-default [showHeaderBurger]="false">
  <div *ngIf="article">
    <div class="hero-section">
      <div class="blog-post-header-wrapper">
        <div class="category-holder">
          <a [href]="article.category.categoryName" class="blog-category-link">{{ article.category.categoryName }}</a>
        </div>
        <div class="heading-holder">
          <h1 class="blog-article-heading">{{ article.articleName }}</h1>
        </div>
        <div class="additional-info-holder">
          <h3 class="blog-additional-info">{{ dayjs(article.createdAt).format('MMMM D, YYYY') }}</h3>
        </div>
      </div>
    </div>

    <div class="main-image-section">
      <div class="image-wrapper">
        <img
          class="image-cover"
          [src]="staticStorage + article.articleImage"
          [alt]="article.articleName"
        >
      </div>
    </div>

    <div *ngIf="!articleNotFound" class="blog-article-section">
      <div class="rich-text-block" [innerHTML]="article.articleContent"></div>
    </div>
  </div>

  <div *ngIf="articleNotFound" class="blog-article-section">
    <div class="utility-page-wrap">
      <div class="utility-page-content">
        <h2 class="heading-xxl not-found-page">404</h2>
        <div class="standard-message">Oops! Whatever article you have been trying to find, we do not have one... :( Let&#x27;s get you <a (click)="handleRedirect('/')" class="span-link">back on track!</a>
        </div>
      </div>
    </div>
  </div>
</layout-default>
