@import 'variables';

.blog-post-header-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
  display: flex;

  @media screen and (max-width: 991px) {
    width: 90vw;
  }
}

.blog-category-link {
  font-size: var(--standard-subheading);
  border-bottom-style: none;
  font-weight: 300;
}

.blog-article-heading {
  width: 50vw;
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 4rem;
  font-weight: 500;
  line-height: .85;

  @media screen and (max-width: 991px) {
    width: 90vw;
  }

  @media screen and (max-width: 767px) {
    font-size: 10vw;
  }

  @media screen and (max-width: 479px) {
    font-size: 15vw;
  }
}

.blog-additional-info {
  font-family: Roboto Mono, sans-serif;
  font-size: var(--standard-subheading);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.main-image-section {
  padding: 2.5vw 5vw;
}

.image-wrapper {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.blog-article-section {
  justify-content: center;
  padding: 2.5vw 5vw;
  display: flex;
}

.rich-text-block {
  font-size: var(--standard-subheading);
  width: 50vw;

  @media screen and (max-width: 991px) {
    width: 90vw;
  }
}
