@import 'variables';

.alert-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  border-radius: 0.25rem;
  min-width: 650px;
  transition: .3s;
  background-color: #f5f7fa;
  z-index: 1006;

  @media screen and (max-width: 479px) {
    max-width: none;
  }
}

.alert-content {
  display: flex;

  .alert-icon {
    margin-right: 16px;

    &.error {
      filter: invert(54%) sepia(12%) saturate(2947%) hue-rotate(314deg) brightness(100%) contrast(98%);
    }

    &.success {
      filter: invert(59%) sepia(51%) saturate(481%) hue-rotate(77deg) brightness(99%) contrast(87%);
    }

    &.warning {
      filter: invert(82%) sepia(36%) saturate(3389%) hue-rotate(359deg) brightness(104%) contrast(104%);
    }
  }
}

.alert-header {
  margin: 0;
  font-weight: 500;
  color: #000;
  font-size: 1.25rem;
}

.alert-message {
  opacity: .5;
  font-size: 0.75rem;
  color: #333;
  margin: 0;
}

.close-container {
  position: absolute;
  height: 100%;
  border-left: 1px solid rgba(3, 3, 3, 0.25);
  right: 0;
  display: flex;
  align-items: center;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(3, 3, 3, 0.15);
  }

  .close-button {
    opacity: .5;
    margin: 0 16px;
    color: #333;
  }
}

.alert {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s;

  &.error {
    border-left: 10px solid #fc6161;

    &:hover {
      border-left: 90px solid #fc6161;
    }
  }

  &.success {
    border-left: 10px solid #53be62;;

    &:hover {
      border-left: 90px solid #53be62;;
    }
  }

  &.warning {
    border-left: 10px solid #ffcc00;

    &:hover {
      border-left: 90px solid #ffcc00;
    }
  }
}
