.search-input {
  color: #fff;
  font-family: Roboto Mono, sans-serif;
  font-size: var(--standard-subheading);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-color: rgba(255, 255, 255, .07);
  width: 60vw;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 300;
  line-height: 1;
  display: block;
}
