<div class="about-block-info">
  <h2 i18n class="about-cell-name-two">Experiences</h2>
  <div class="experience-cell" *ngFor="let experience of experiences">
    <div class="experience-intro-info">
      <img
        class="experience-intro-image"
        [src]="careersStaticStorageLink + experience.companyPicture"
        [alt]="experience.companyName"
      >
      <div class="experience-intro-info-desc">
        <h4>{{ experience.companyName }}</h4>
        <p class="experience-intro-info-dates">
          {{ dayjs(experience.startDate).format('MMMM D, YYYY') }} - {{ dayjs(experience.endDate).format('MMMM D, YYYY') }}
        </p>
        <p>{{ experience.companyDescription }}</p>
        <basic-social-link
          [link]="experience.companyLink"
          [title]="experience.companyLinkTitle"
        />
      </div>
    </div>

    <div class="experience-position" *ngFor="let position of experience.companyPositions">
      <p class="eyebrow">
        <strong class="bold-text-6">
          <em i18n class="italic-text-2">{{ position.positionTitle }}</em>
        </strong>
      </p>
      <p class="experience-intro-info-dates">
        {{ dayjs(position.positionStartDate).format('MMMM D, YYYY') }} - {{ dayjs(position.positionEndDate).format('MMMM D, YYYY') }}
      </p>
      <p>{{ position.positionDescription }}</p>
    </div>
  </div>
</div>
