.basicButton {
  width: 100%;
  padding: 6px 10px;

  color: white;
  background-color: royalblue;

  outline: none;
  border: none;
  cursor: pointer;

  border-radius: 3px;
  position: relative;
  justify-content: center;

  &:hover {
    background-color: #2553dc;
  }
}
