<layout-default [showHeaderBurger]="false" [showNewsletter]="false">
  <div class="hero-section">
    <div class="hero-content-wrapper">
      <div class="left-hero-section">
        <h1 class="heading-xxl">About me and this project.</h1>
      </div>
    </div>
  </div>

  <div class="story-section">
    <div class="story-wrapper">
      <div class="left-story">
        <p i18n class="intro-paragraph">First of all, I'd would like to say thank for you. You are reading this page and you are reading this blog, so I believe that you were able to find something interesting here.</p><br>
        <p class="intro-paragraph">My name is Mikhail and this is my blog about cybersecurity and IT. I am really obsessed with what I am doing and I want to share my knowledge with people.</p><br>
        <p class="intro-paragraph">The idea behind creating with blog was also quite interesting. I think that the best way to learn something is to start teach other people. Also, for me this blog is the opportunity to just write some code (which I also still like, despite the fact that I am not work as a developer anymore).</p><br>
        <p class="intro-paragraph">If you find anything that I am writing about interesting, you would like to talk or you have any other reasons why you want to talk to me, I will always be glad to do so. </p><br>
        <a (click)="handleRedirect('/contact')" class="span-link">So, let's stay it touch!</a>
      </div>

      <div class="about-container">
        <div class="about-team-member-cell">
          <component-about-team-cell
            *ngFor="let teamMember of aboutTeamCells"
            [title]="teamMember.title"
            [subtitle]="teamMember.subtitle"
            [description]="teamMember.description"
            [image]="teamMember.image"
            [socialLinks]="teamMember.socialLinks"
          />
        </div>

        <div class="about-team-member-cell"></div>
      </div>
    </div>
  </div>
</layout-default>
