<layout-default [showHeaderBurger]="false" [showNewsletter]="false">
  <div class="hero-section">
    <div class="hero-content-wrapper">
      <div class="left-hero-section">
        <h1 class="heading-xxl">Meet Our Quirky Team of Robo-Enthusiasts.</h1>
      </div>
    </div>
  </div>

  <div class="story-section">
    <div class="story-wrapper">
      <div class="left-story">
        <p class="intro-paragraph">Dive into a world where artificial intelligence becomes your ultimate ally in revolutionizing IT operations. <br><br>Join us on a journey where data-driven decisions, automation, and predictive insights are the norm.<br><br>Expect in-depth articles, hands-on demos, and expert guidance on harnessing the full potential of AI to optimize your IT infrastructure. <br><br>Whether you&#x27;re an IT professional, a tech enthusiast, or a curious mind, we&#x27;ll demystify the world of AI in IT, making it accessible and actionable for all.</p>
      </div>
      <div class="right-team-block">
        <div class="team-member-cell">
          <img src="https://assets-global.website-files.com/64f892f955f2f97309cfeec5/64f9f2a345426c6fe3c047bd_qwerqu-mcbrew-unG5ZwUPY0Y-unsplash-p-1080.jpg" loading="lazy" alt="" class="image-cover">
          <div class="team-block-info">
            <p class="eyebrow">
              <strong class="bold-text-6">
                <em class="italic-text-2"> Chief Robo-ologist</em>
              </strong>
            </p>
            <h2 class="team-member-name-two">Sarah Janium</h2>
            <p class="intro-paragraph inhouse">Professor Circuit-Byte, our esteemed Chief Robo-ologist, hails from the Silicon Hills of Digitaland. Known for her encyclopedic knowledge of AI, she once challenged a supercomputer to a game of chess and won by distracting it with cat videos. When she&#x27;s not decoding algorithms, you can find him perfecting his stand-up comedy routine for his beloved pet robot, Sparky.</p>
            <div class="team-member-social-link-cell">
              <a href="http://Linkedin.com" class="social-link">IN.</a>
              <a href="#" class="social-link">FB.</a>
            </div>
          </div>
        </div>
        <div class="team-member-cell">
          <img src="https://assets-global.website-files.com/64f892f955f2f97309cfeec5/64f9f2a345426c6fe3c047bd_qwerqu-mcbrew-unG5ZwUPY0Y-unsplash-p-1080.jpg" loading="lazy" alt="" sizes="(max-width: 767px) 90vw, (max-width: 991px) 43vw, 30vw" class="image-cover">
          <div class="team-block-info">
            <p class="eyebrow"><strong class="bold-text-6"><em class="italic-text-2"> Robo-Prankster Extraordinaire</em></strong></p>
            <h2 class="team-member-name-two">Paul Richie</h2>
            <p class="intro-paragraph">ByteBot is our resident Robo-Prankster Extraordinaire. With a knack for mischief and a heart of silicon, Paul once reprogrammed the office coffee machine to dispense lattes with motivational quotes. <br>He&#x27;s convinced that laughter is the best debugging tool and aims to make AIOps-Genius the funniest tech hub this side of the binary code.</p>
            <div class="team-member-social-link-cell">
              <a href="http://Linkedin.com" class="social-link">IN.</a>
              <a href="#" class="social-link">FB.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout-default>
