@import 'variables';

.story-section {
  height: auto;
  padding: 0;
  overflow: hidden;
}

.story-wrapper {
  display: flex;
  padding-top: 0;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
}

.left-story {
  width: 30vw;
  padding-top: 2.5vw;
  padding-right: 2.5vw;
  padding-left: 5vw;
  border-right: 1px solid var(--dividers);

  @media screen and (max-width: 991px) {
    align-items: flex-end;
    flex-direction: column;
    width: 90vw;
    padding-bottom: 2.5vw;
    padding-right: 5vw;
    display: flex;
  }
}

.about-container {
  display: grid;
  width: 70vw;
  height: 100%;
  padding-top: 2.5vw;
  padding-right: 5vw;
  padding-bottom: 2.5vw;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5vw;

  @media screen and (max-width: 991px) {
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 479px) {
    grid-template-columns: 1fr;
  }
}

.about-team-member-cell {
  border: 1px solid rgba(255, 255, 255, .07);
  flex-direction: column;
  margin: 0 0 0 2.5vw;
  display: flex;
  width: 100%;

  @media screen and (max-width: 991px) {
    width: 100%;
    margin: 0 !important;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin: 0 !important;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
    margin: 0 !important;
  }
}

.full-width {
  grid-column: span 2;
}
