@import 'variables';

.newsletters-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.newsletters-wrapper {
  margin-top: 10vh;
  width: 50%;
}

.subscription-error {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  display: flex;

  @media screen and (max-width: 991px) {
    width: 65%;
  }

  @media screen and (max-width: 767px) {
    width: 85%;
  }

  @media screen and (max-width: 479px) {
    width: 90%;
  }
}

.subscription-error-text {
  margin-top: 2rem;
}
