<layout-default
  [showHeaderBurger]="true"
  [showNewsletter]="false"
>
  <div class="newsletters-container">
    <div
      class="newsletters-wrapper"
      *ngIf="action === 'subscribe' && !confirmationNewslettersError"
    >
      <h1>Thank you!</h1>
      <p>You have successfully subscribed to newsletters. From now on you will be getting emails with the latest published articles along with any other updates and be on the front row of all the most interesting and new!</p>
      <basic-button
        [label]="'Go back on the home page'"
        (buttonClick)="handleRedirect('/')"
      />
    </div>

    <div
      class="newsletters-wrapper subscription-error"
      *ngIf="action === 'subscribe' && confirmationNewslettersError"
    >
      <h2 class="heading-xxl newsletters-page">:(</h2>
      <div class="standard-message subscription-error-text">
        Oops! Looks like we have encountered the issue while confirming your newsletters subscription. You either have already confirmed it or there is something wrong with the link. In any case, here is where you can get <a (click)="handleRedirect('/')" class="span-link">back on track and try again!</a>
      </div>
    </div>

    <div
      class="newsletters-wrapper"
      *ngIf="action === 'unsubscribe' && !unsubscriptionNewslettersError"
    >
      <h1>We are going to miss you...</h1>
      <p>You have successfully unsubscribed from the newsletters. From now on you will not be getting emails with updates anymore, but you can always revert it back, if you want.</p>
      <basic-button
        [label]="'Go back on the home page'"
        (buttonClick)="handleRedirect('/')"
      />
    </div>

    <div
      class="newsletters-wrapper subscription-error"
      *ngIf="action === 'unsubscribe' && unsubscriptionNewslettersError"
    >
      <h2 class="heading-xxl newsletters-page">:(</h2>
      <div class="standard-message subscription-error-text">
        Oops! Looks like we have encountered the issue while canceling your newsletters subscription. You either have already done it or there is something wrong with the link. In any case, here is where you can get <a (click)="handleRedirect('/')" class="span-link">back on track and try again!</a>
      </div>
    </div>
  </div>
</layout-default>
