@import 'variables';

.eyebrow {
  margin-bottom: 0;
  font-size: 1rem;
}

.about-cell-name-two {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 700;
}

.about-block-info {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em;
  display: flex;
}
