@import 'variables';

.social-link {
  color: #fff;
  margin-right: 1em;
  line-height: 1;
  text-decoration: none;
  font-size: .75rem;

  &.white-heading-highlight {
    font-family: var(--secondary-font), sans-serif;
    font-size: var(--standard-subheading);
  }
}
