@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.3s background-color, color ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}
